<a href="https://colab.research.google.com/github/Rohan300604/rohanassignment/blob/main/Data_aqu_case.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/sports college us new.csv')
df.head()

,year,unitid,institution_name,city_txt,state_cd,zip_text,classification_code,classification_name,classification_other,ef_male_count,...,partic_coed_women,sum_partic_men,sum_partic_women,rev_men,rev_women,total_rev_menwomen,exp_men,exp_women,total_exp_menwomen,sports
0,2015,200192,Lake Region State College,Devils Lake,ND,583011598,12,NJCAA Division I,NaN,250,...,NaN,18,0,69325.0,NaN,69325,69325.0,NaN,69325,Baseball
1,2015,200192,Lake Region State College,Devils Lake,ND,583011598,12,NJCAA Division I,NaN,250,...,NaN,13,13,125277.0,147162.0,272439,125277.0,147162.0,272439,Basketball
2,2015,200192,Lake Region State College,Devils Lake,ND,583011598,12,NJCAA Division I,NaN,250,...,NaN,5,3,11907.0,9932.0,21839,11907.0,9932.0,21839,Golf
3,2015,200192,Lake Region State College,Devils Lake,ND,583011598,12,NJCAA Division I,NaN,250,...,NaN,0,16,NaN,42705.0,42705,NaN,42705.0,42705,Softball
4,2015,200192,Lake Region State College,Devils Lake,ND,583011598,12,NJCAA Division I,NaN,250,...,NaN,0,12,NaN,65876.0,65876,NaN,65876.0,65876,Volleyball

In [ ]:
df.describe()

,year,unitid,zip_text,classification_code,ef_male_count,ef_female_count,ef_total_count,sector_cd,sportscode,partic_men,...,partic_coed_men,partic_coed_women,sum_partic_men,sum_partic_women,rev_men,rev_women,total_rev_menwomen,exp_men,exp_women,total_exp_menwomen
count,30000.000000,30000.000000,3.000000e+04,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.00000,21377.000000,...,55.000000,55.000000,30000.000000,30000.000000,2.137700e+04,2.375500e+04,3.000000e+04,2.137700e+04,2.375500e+04,3.000000e+04
mean,2017.009267,180893.339467,6.064776e+07,7.227133,2210.060233,2611.128833,4821.189067,2.113800,13.89530,30.238668,...,10.163636,19.800000,21.565700,16.341900,8.047170e+05,2.884432e+05,8.018134e+05,6.730551e+05,3.414343e+05,7.499557e+05
std,1.412792,49818.149777,1.876902e+08,4.659671,2951.143954,3306.018291,6201.919941,1.036284,9.54417,28.709841,...,7.138222,13.854268,27.824841,18.436737,4.476682e+06,4.781726e+05,3.866200e+06,2.684379e+06,5.724366e+05,2.451613e+06
min,2015.000000,100654.000000,7.160000e+02,1.000000,6.000000,1.000000,32.000000,1.000000,1.00000,1.000000,...,1.000000,1.000000,0.000000,0.000000,3.940000e+02,9.980000e+02,3.940000e+02,3.940000e+02,9.980000e+02,3.940000e+02
25%,2016.000000,148487.000000,2.471200e+04,4.000000,541.000000,691.000000,1236.000000,1.000000,3.00000,13.000000,...,6.000000,14.000000,0.000000,6.000000,6.249900e+04,5.942050e+04,9.468975e+04,6.204800e+04,6.014200e+04,9.495200e+04
50%,2017.000000,179539.000000,5.231400e+04,6.000000,1050.000000,1340.000000,2417.000000,2.000000,15.00000,22.000000,...,8.000000,19.000000,14.000000,14.000000,1.554910e+05,1.356430e+05,2.247510e+05,1.572560e+05,1.389100e+05,2.295335e+05
75%,2018.000000,214272.000000,9.060100e+04,10.000000,2609.000000,3115.000000,5691.000000,2.000000,22.00000,35.000000,...,12.000000,24.500000,29.000000,21.000000,3.934330e+05,3.319745e+05,5.416892e+05,4.220210e+05,3.650835e+05,5.890150e+05
max,2019.000000,492069.000000,9.936293e+08,20.000000,19221.000000,22963.000000,42184.000000,6.000000,38.00000,331.000000,...,32.000000,87.000000,331.000000,327.000000,1.155105e+08,2.144036e+07,1.155105e+08,5.625738e+07,9.485162e+06,5.625738e+07

In [ ]:
#1 what is the size of dataset
df.shape

(30000, 28)

In [ ]:
#2
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  30000 non-null  int64
 1   unitid                30000 non-null  int64
 2   institution_name      30000 non-null  object
 3   city_txt              30000 non-null  object
 4   state_cd              30000 non-null  object
 5   zip_text              30000 non-null  int64
 6   classification_code   30000 non-null  int64
 7   classification_name   30000 non-null  object
 8   classification_other  542 non-null    object
 9   ef_male_count         30000 non-null  int64
 10  ef_female_count       30000 non-null  int64
 11  ef_total_count        30000 non-null  int64
 12  sector_cd             30000 non-null  int64
 13  sector_name           30000 non-null  object
 14  sportscode            30000 non-null  int64
 15  partic_men            21377 non-null  float64
 16  partic_women          23755 non-null  float64
 17  partic_coed_men       55 non-null     float64
 18  partic_coed_women     55 non-null     float64
 19  sum_partic_men        30000 non-null  int64
 20  sum_partic_women      30000 non-null  int64
 21  rev_men               21377 non-null  float64
 22  rev_women             23755 non-null  float64
 23  total_rev_menwomen    30000 non-null  int64
 24  exp_men               21377 non-null  float64
 25  exp_women             23755 non-null  float64
 26  total_exp_menwomen    30000 non-null  int64
 27  sports                30000 non-null  object
dtypes: float64(8), int64(13), object(7)
memory usage: 6.4+ MB

In [ ]:
#2.what are the data type of each columns?
df.dtypes

year                      int64
unitid                    int64
institution_name         object
city_txt                 object
state_cd                 object
zip_text                  int64
classification_code       int64
classification_name      object
classification_other     object
ef_male_count             int64
ef_female_count           int64
ef_total_count            int64
sector_cd                 int64
sector_name              object
sportscode                int64
partic_men              float64
partic_women            float64
partic_coed_men         float64
partic_coed_women       float64
sum_partic_men            int64
sum_partic_women          int64
rev_men                 float64
rev_women               float64
total_rev_menwomen        int64
exp_men                 float64
exp_women               float64
total_exp_menwomen        int64
sports                   object
dtype: object

In [ ]:
#3 are there any missing values in the dataset? if so,which columns have missig values and how many
df.isnull().sum()

year                        0
unitid                      0
institution_name            0
city_txt                    0
state_cd                    0
zip_text                    0
classification_code         0
classification_name         0
classification_other    29458
ef_male_count               0
ef_female_count             0
ef_total_count              0
sector_cd                   0
sector_name                 0
sportscode                  0
partic_men               8623
partic_women             6245
partic_coed_men         29945
partic_coed_women       29945
sum_partic_men              0
sum_partic_women            0
rev_men                  8623
rev_women                6245
total_rev_menwomen          0
exp_men                  8623
exp_women                6245
total_exp_menwomen          0
sports                      0
dtype: int64

In [ ]:
#4 what are the unique values in categorical column of your choice ?

unique=pd.DataFrame(df['sports'].unique())
unique

                             0
0                     Baseball
1                   Basketball
2                         Golf
3                     Softball
4                   Volleyball
5                 Field Hockey
6                   Ice Hockey
7                     Lacrosse
8                       Soccer
9                       Tennis
10     Track and Field, Indoor
11    Track and Field, Outdoor
12  Track and Field, X-Country
13          All Track Combined
14                    Football
15                  Gymnastics
16                  Equestrian
17                      Rowing
18         Swimming and Diving
19                       Rodeo
20                    Swimming
21            Beach Volleyball
22                  Water Polo
23                Other Sports
24                Table Tennis
25              Weight Lifting
26                   Wrestling
27                     Bowling
28                      Skiing
29                     Sailing
30                   Badminton
31                       Rifle
32                      Squash
33                     Fencing
34                      Diving
35       Synchronized Swimming
36                     Archery

In [ ]:
#5 for numerical column of your choice , calculatae the mean , medin and tandard deviation

d={'mean':df['total_rev_menwomen'].mean(),
'median':df['total_rev_menwomen'].median(),
'standard Deviation':df['total_rev_menwomen'].std()}
print(d)

{'mean': 801813.4372666667, 'median': 224751.0, 'standard Deviation': 3866199.689384955}

In [ ]:
#6 identify any outlier in a numerical column of your choice.explain your approach
numerical_column=('ef_total_count')
q1=df[numerical_column].quantile(0.25)
q3=df[numerical_column].quantile(0.75)
iqr=q3-q1
lower_bound=q1-1.5*iqr
upper_bound=q3+1.5*iqr
outliers=df[(df[numerical_column]<lower_bound)|(df[numerical_column]>upper_bound)]
print(f"outliers{numerical_column}':'")
print(outliers)

outliersef_total_count':'
       year  unitid                                   institution_name  \
18     2015  223232                                  Baylor University
19     2015  223232                                  Baylor University
20     2015  223232                                  Baylor University
21     2015  223232                                  Baylor University
22     2015  223232                                  Baylor University
...     ...     ...                                                ...
29940  2019  110422  California Polytechnic State University-San Lu...
29941  2019  110422  California Polytechnic State University-San Lu...
29942  2019  110422  California Polytechnic State University-San Lu...
29943  2019  110422  California Polytechnic State University-San Lu...
29944  2019  110422  California Polytechnic State University-San Lu...

              city_txt state_cd  zip_text  classification_code  \
18                Waco       TX     76798                    1
19                Waco       TX     76798                    1
20                Waco       TX     76798                    1
21                Waco       TX     76798                    1
22                Waco       TX     76798                    1
...                ...      ...       ...                  ...
29940  San Luis Obispo       CA     93407                    2
29941  San Luis Obispo       CA     93407                    2
29942  San Luis Obispo       CA     93407                    2
29943  San Luis Obispo       CA     93407                    2
29944  San Luis Obispo       CA     93407                    2

       classification_name classification_other  ef_male_count  ...  \
18     NCAA Division I-FBS                  NaN           5812  ...
19     NCAA Division I-FBS                  NaN           5812  ...
20     NCAA Division I-FBS                  NaN           5812  ...
21     NCAA Division I-FBS                  NaN           5812  ...
22     NCAA Division I-FBS                  NaN           5812  ...
...                    ...                  ...            ...  ...
29940  NCAA Division I-FCS                  NaN          10078  ...
29941  NCAA Division I-FCS                  NaN          10078  ...
29942  NCAA Division I-FCS                  NaN          10078  ...
29943  NCAA Division I-FCS                  NaN          10078  ...
29944  NCAA Division I-FCS                  NaN          10078  ...

       partic_coed_women  sum_partic_men  sum_partic_women     rev_men  \
18                   NaN              37                 0   3457580.0
19                   NaN              18                40   8837724.0
20                   NaN              80               135   2016912.0
21                   NaN             120                 0  38305937.0
22                   NaN              15                11   1015364.0
...                  ...             ...               ...         ...
29940                NaN              38                34    243843.0
29941                NaN              12                11    415012.0
29942                NaN               0                19         NaN
29943                NaN              26                 0    741543.0
29944                NaN               0                21         NaN

       rev_women  total_rev_menwomen     exp_men  exp_women  \
18           NaN             3457580   3457580.0        NaN
19     7277627.0            16115351   8837724.0  7277627.0
20     2788700.0             4805612   2016912.0  2788700.0
21           NaN            38305937  29544710.0        NaN
22      941775.0             1957139   1015364.0   941775.0
...          ...                 ...         ...        ...
29940   341511.0              585354    243843.0   341511.0
29941   477449.0              892461    415012.0   477449.0
29942  1004530.0             1004530         NaN  1004530.0
29943        NaN              741543    741543.0        NaN
29944   690311.0              690311         NaN   584825.0

       total_exp_menwomen               sports
18                3457580             Baseball
19               16115351           Basketball
20                4805612   All Track Combined
21               29544710             Football
22                1957139                 Golf
...                   ...                  ...
29940              585354  Swimming and Diving
29941              892461               Tennis
29942             1004530           Volleyball
29943              741543            Wrestling
29944              584825     Beach Volleyball

[2918 rows x 28 columns]

In [ ]:
#7 Find thecolleration between  numerical columns and discuss any intersting reltionship

df_numeric=df.apply(pd.to_numeric,errors='coerce')
df_numeric=df_numeric.dropna()
correlation_matrix=df_numeric.corr()
print(correlation_matrix)

                      year  unitid  institution_name  city_txt  state_cd  \
year                   NaN     NaN               NaN       NaN       NaN
unitid                 NaN     NaN               NaN       NaN       NaN
institution_name       NaN     NaN               NaN       NaN       NaN
city_txt               NaN     NaN               NaN       NaN       NaN
state_cd               NaN     NaN               NaN       NaN       NaN
zip_text               NaN     NaN               NaN       NaN       NaN
classification_code    NaN     NaN               NaN       NaN       NaN
classification_name    NaN     NaN               NaN       NaN       NaN
classification_other   NaN     NaN               NaN       NaN       NaN
ef_male_count          NaN     NaN               NaN       NaN       NaN
ef_female_count        NaN     NaN               NaN       NaN       NaN
ef_total_count         NaN     NaN               NaN       NaN       NaN
sector_cd              NaN     NaN               NaN       NaN       NaN
sector_name            NaN     NaN               NaN       NaN       NaN
sportscode             NaN     NaN               NaN       NaN       NaN
partic_men             NaN     NaN               NaN       NaN       NaN
partic_women           NaN     NaN               NaN       NaN       NaN
partic_coed_men        NaN     NaN               NaN       NaN       NaN
partic_coed_women      NaN     NaN               NaN       NaN       NaN
sum_partic_men         NaN     NaN               NaN       NaN       NaN
sum_partic_women       NaN     NaN               NaN       NaN       NaN
rev_men                NaN     NaN               NaN       NaN       NaN
rev_women              NaN     NaN               NaN       NaN       NaN
total_rev_menwomen     NaN     NaN               NaN       NaN       NaN
exp_men                NaN     NaN               NaN       NaN       NaN
exp_women              NaN     NaN               NaN       NaN       NaN
total_exp_menwomen     NaN     NaN               NaN       NaN       NaN
sports                 NaN     NaN               NaN       NaN       NaN

                      zip_text  classification_code  classification_name  \
year                       NaN                  NaN                  NaN
unitid                     NaN                  NaN                  NaN
institution_name           NaN                  NaN                  NaN
city_txt                   NaN                  NaN                  NaN
state_cd                   NaN                  NaN                  NaN
zip_text                   NaN                  NaN                  NaN
classification_code        NaN                  NaN                  NaN
classification_name        NaN                  NaN                  NaN
classification_other       NaN                  NaN                  NaN
ef_male_count              NaN                  NaN                  NaN
ef_female_count            NaN                  NaN                  NaN
ef_total_count             NaN                  NaN                  NaN
sector_cd                  NaN                  NaN                  NaN
sector_name                NaN                  NaN                  NaN
sportscode                 NaN                  NaN                  NaN
partic_men                 NaN                  NaN                  NaN
partic_women               NaN                  NaN                  NaN
partic_coed_men            NaN                  NaN                  NaN
partic_coed_women          NaN                  NaN                  NaN
sum_partic_men             NaN                  NaN                  NaN
sum_partic_women           NaN                  NaN                  NaN
rev_men                    NaN                  NaN                  NaN
rev_women                  NaN                  NaN                  NaN
total_rev_menwomen         NaN                  NaN                  NaN
exp_men                    NaN                  NaN                  NaN
exp_women                  NaN                  NaN                  NaN
total_exp_menwomen         NaN                  NaN                  NaN
sports                     NaN                  NaN                  NaN

                      classification_other  ef_male_count  ...  \
year                                   NaN            NaN  ...
unitid                                 NaN            NaN  ...
institution_name                       NaN            NaN  ...
city_txt                               NaN            NaN  ...
state_cd                               NaN            NaN  ...
zip_text                               NaN            NaN  ...
classification_code                    NaN            NaN  ...
classification_name                    NaN            NaN  ...
classification_other                   NaN            NaN  ...
ef_male_count                          NaN            NaN  ...
ef_female_count                        NaN            NaN  ...
ef_total_count                         NaN            NaN  ...
sector_cd                              NaN            NaN  ...
sector_name                            NaN            NaN  ...
sportscode                             NaN            NaN  ...
partic_men                             NaN            NaN  ...
partic_women                           NaN            NaN  ...
partic_coed_men                        NaN            NaN  ...
partic_coed_women                      NaN            NaN  ...
sum_partic_men                         NaN            NaN  ...
sum_partic_women                       NaN            NaN  ...
rev_men                                NaN            NaN  ...
rev_women                              NaN            NaN  ...
total_rev_menwomen                     NaN            NaN  ...
exp_men                                NaN            NaN  ...
exp_women                              NaN            NaN  ...
total_exp_menwomen                     NaN            NaN  ...
sports                                 NaN            NaN  ...

                      partic_coed_women  sum_partic_men  sum_partic_women  \
year                                NaN             NaN               NaN
unitid                              NaN             NaN               NaN
institution_name                    NaN             NaN               NaN
city_txt                            NaN             NaN               NaN
state_cd                            NaN             NaN               NaN
zip_text                            NaN             NaN               NaN
classification_code                 NaN             NaN               NaN
classification_name                 NaN             NaN               NaN
classification_other                NaN             NaN               NaN
ef_male_count                       NaN             NaN               NaN
ef_female_count                     NaN             NaN               NaN
ef_total_count                      NaN             NaN               NaN
sector_cd                           NaN             NaN               NaN
sector_name                         NaN             NaN               NaN
sportscode                          NaN             NaN               NaN
partic_men                          NaN             NaN               NaN
partic_women                        NaN             NaN               NaN
partic_coed_men                     NaN             NaN               NaN
partic_coed_women                   NaN             NaN               NaN
sum_partic_men                      NaN             NaN               NaN
sum_partic_women                    NaN             NaN               NaN
rev_men                             NaN             NaN               NaN
rev_women                           NaN             NaN               NaN
total_rev_menwomen                  NaN             NaN               NaN
exp_men                             NaN             NaN               NaN
exp_women                           NaN             NaN               NaN
total_exp_menwomen                  NaN             NaN               NaN
sports                              NaN             NaN               NaN

                      rev_men  rev_women  total_rev_menwomen  exp_men  \
year                      NaN        NaN                 NaN      NaN
unitid                    NaN        NaN                 NaN      NaN
institution_name          NaN        NaN                 NaN      NaN
city_txt                  NaN        NaN                 NaN      NaN
state_cd                  NaN        NaN                 NaN      NaN
zip_text                  NaN        NaN                 NaN      NaN
classification_code       NaN        NaN                 NaN      NaN
classification_name       NaN        NaN                 NaN      NaN
classification_other      NaN        NaN                 NaN      NaN
ef_male_count             NaN        NaN                 NaN      NaN
ef_female_count           NaN        NaN                 NaN      NaN
ef_total_count            NaN        NaN                 NaN      NaN
sector_cd                 NaN        NaN                 NaN      NaN
sector_name               NaN        NaN                 NaN      NaN
sportscode                NaN        NaN                 NaN      NaN
partic_men                NaN        NaN                 NaN      NaN
partic_women              NaN        NaN                 NaN      NaN
partic_coed_men           NaN        NaN                 NaN      NaN
partic_coed_women         NaN        NaN                 NaN      NaN
sum_partic_men            NaN        NaN                 NaN      NaN
sum_partic_women          NaN        NaN                 NaN      NaN
rev_men                   NaN        NaN                 NaN      NaN
rev_women                 NaN        NaN                 NaN      NaN
total_rev_menwomen        NaN        NaN                 NaN      NaN
exp_men                   NaN        NaN                 NaN      NaN
exp_women                 NaN        NaN                 NaN      NaN
total_exp_menwomen        NaN        NaN                 NaN      NaN
sports                    NaN        NaN                 NaN      NaN

                      exp_women  total_exp_menwomen  sports
year                        NaN                 NaN     NaN
unitid                      NaN                 NaN     NaN
institution_name            NaN                 NaN     NaN
city_txt                    NaN                 NaN     NaN
state_cd                    NaN                 NaN     NaN
zip_text                    NaN                 NaN     NaN
classification_code         NaN                 NaN     NaN
classification_name         NaN                 NaN     NaN
classification_other        NaN                 NaN     NaN
ef_male_count               NaN                 NaN     NaN
ef_female_count             NaN                 NaN     NaN
ef_total_count              NaN                 NaN     NaN
sector_cd                   NaN                 NaN     NaN
sector_name                 NaN                 NaN     NaN
sportscode                  NaN                 NaN     NaN
partic_men                  NaN                 NaN     NaN
partic_women                NaN                 NaN     NaN
partic_coed_men             NaN                 NaN     NaN
partic_coed_women           NaN                 NaN     NaN
sum_partic_men              NaN                 NaN     NaN
sum_partic_women            NaN                 NaN     NaN
rev_men                     NaN                 NaN     NaN
rev_women                   NaN                 NaN     NaN
total_rev_menwomen          NaN                 NaN     NaN
exp_men                     NaN                 NaN     NaN
exp_women                   NaN                 NaN     NaN
total_exp_menwomen          NaN                 NaN     NaN
sports                      NaN                 NaN     NaN

[28 rows x 28 columns]

In [ ]:
#8 group the data by a categorical column and compute the aggregate statics (eg:mean)for a numericl column
group=df.groupby('year')['total_rev_menwomen'].mean()
group_df=pd.DataFrame(group)
group_df

      total_rev_menwomen
year
2015       739131.442162
2016       778916.794997
2017       805875.381000
2018       848419.169089
2019       835313.685302